.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: rgb(214, 214, 214);
}
.nav {
  position: absolute;
  top: 0;
  width: 100%;
  height: 3.5em;
  background-color: rgba(255, 255, 255, 0.562);
  z-index: 100;
  backdrop-filter: blur(20px);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.322);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  span {
    font-family: Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.291);
  }
  #user_icons {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
  #logo {
    letter-spacing: 1em;
    padding-left: 1em;
  }
  #gear {
    width: 1em;
    height: 1em;

    cursor: pointer;
    opacity: 0.2;
  }
  #gear:hover {
    opacity: 0.8;
  }
  #cart {
    width: 1.2em;
    height: 1.2em;
    cursor: pointer;
    opacity: 0.6;
  }
  #cart:hover {
    opacity: 0.8;
  }
  #user {
    width: 1.2em;
    height: 1.2em;
    cursor: pointer;
    opacity: 0.6;
  }
  #user:hover {
    opacity: 0.8;
  }
}

.items_container {
  padding-top: 9.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.95em;

  height: 100%;
  width: 100%;
  overflow-y: scroll;
  /* outline: 1px solid white; */
  outline-offset: 3px;
  .loader {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .select_catagories {
    background-color: rgba(255, 255, 255, 0.815);
    /* flex: 0 0 100%; */
    /* outline: 1px solid black; */
    position: fixed;
    width: 100svw;
    top: 3.5em;
    z-index: 20;
    padding: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    min-height: fit-content;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.048);
    backdrop-filter: blur(20px);

    span {
      font-family: Helvetica, sans-serif;
      /*background-color: rgb(255, 255, 255);
      */
      padding: 0.5em;
      border-radius: 0.5em;
      position: relative;
      z-index: 10;
      -webkit-border-radius: 0.5em;
      -moz-border-radius: 0.5em;
      -ms-border-radius: 0.5em;
      -o-border-radius: 0.5em;
      .select_animate {
        position: absolute;
        inset: 0;
        background-color: rgb(36, 36, 36);
        border-radius: 0.5em;
        z-index: -1;
        -webkit-border-radius: 0.5em;
        -moz-border-radius: 0.5em;
        -ms-border-radius: 0.5em;
        -o-border-radius: 0.5em;
      }
    }
    span:hover {
      cursor: pointer;
      color: rgb(158, 158, 158);
      /* background-color: rgb(151, 150, 150); */
    }
    /* .active{
      background-color: rgb(44, 44, 44);
      color: white;
    }
    .active:hover{
      background-color: rgb(0, 0, 0);
    } */
  }
}

.items_container::-webkit-scrollbar {
  width: 0.6em;
}
.items_container::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.219);

  border-radius: 100vw;
  margin-block-start: 10em;
  margin-block-end: 1.4em;
  -webkit-border-radius: 100vw;
  -moz-border-radius: 100vw;
  -ms-border-radius: 100vw;
  -o-border-radius: 100vw;
}
.items_container::-webkit-scrollbar-thumb {
  background-color: rgb(92, 92, 92);

  border-radius: 100vw;
  -webkit-border-radius: 100vw;
  -moz-border-radius: 100vw;
  -ms-border-radius: 100vw;
  -o-border-radius: 100vw;
}

.items_container::-webkit-scrollbar-thumb:hover {
  background-color: rgb(48, 48, 48);
}

.item_container {
  width: 30em;
  height: 35em;
  /* outline: 1px solid rgba(0, 0, 0, 0.418); */
  outline-offset: 4px;
  .item {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    width: 100%;
    height: 100%;
    background-color: rgb(236, 235, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    gap: 0.5em;
    cursor: pointer;
    .img_container {
      width: 90%;
      height: 70%;
      outline: 0.1em solid rgba(0, 0, 0, 0.418);
      background-color: white;
      position: relative;
      #img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        scale: 0.8;
      }
      #add-to-cart {
        position: absolute;
        width: 1.7em;
        height: 1.7em;
        top: 0.7em;
        right: 0.7em;
        opacity: 0.5;
      }
      #add-to-cart:hover {
        opacity: 1;
        cursor: pointer;
      }
      border-radius: 1em;
      -webkit-border-radius: 1em;
      -moz-border-radius: 1em;
      -ms-border-radius: 1em;
      -o-border-radius: 1em;
    }
    .title {
      margin-top: 0.5em;
      font-size: 1em;
      font-family: Helvetica, sans-serif;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 500;
      /* outline: 1px solid black; */
      width: 90%;
    }
    .category_container {
      width: 90%;
      .category {
        font-size: 0.7em;
        font-family: Helvetica, sans-serif;
        background-color: rgb(255, 255, 255);
        padding: 0.5em;
        border-radius: 0.5em;
        -webkit-border-radius: 0.5em;
        -moz-border-radius: 0.5em;
        -ms-border-radius: 0.5em;
        -o-border-radius: 0.5em;
      }
      .category:hover {
        cursor: pointer;
        background-color: rgb(151, 150, 150);
      }
    }

    .price {
      font-size: 2.5em;
      font-family: Helvetica, sans-serif;
      display: flex;
      justify-content: space-between;
      align-items: center;
      /* overflow: hidden; */
      font-weight: 500;
      /* outline: 1px solid black; */
      width: 90%;
      height: 10%;
      span {
        display: flex;
        justify-content: center;
        position: relative;
        #dollar {
          font-size: 0.7em;
        }
      }
      button {
        background-color: black;
        color: white;
        border-radius: 0.5em;
        width: 20%;
        height: 70%;
        cursor: pointer;
        border-style: none;
        font-size: 0.5em;
        -webkit-border-radius: 0.5em;
        -moz-border-radius: 0.5em;
        -ms-border-radius: 0.5em;
        -o-border-radius: 0.5em;
      }
      button:hover {
        background-color: white;
        outline: 1px solid rgba(0, 0, 0, 0.555);
        color: black;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .item_container {
    width: 90%;
    height: 30em;
  }
  .items_container {
    overflow-y: scroll;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      width: 0px;
      background: transparent;
    }
  }
}

@media (min-width: 1200px) and (max-width: 1439px) {
  .item_container {
    width: 24em;
    height: 30em;
  }
  .nav {
    span {
      font-size: medium;
    }
  }
  .items_container {
    .select_catagories {
      font-size: 0.8em;
      top: 4em;
    }
  }
}
